.Navigation {
    background-color: #334;
    color: white;       
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    height: 75px;
    margin-bottom: 70px;
    padding: 20px;
    
}
.logo:hover {
    cursor: pointer;
}

.Navigation ul { 
    display: flex;
    list-style: none;    

}
.Navigation li {
    margin-right: 20px;
}
.Navigation a {
    color: white;
}

/* TABLET && LARGE SMARTPHONES */
@media screen and (min-width: 481px ) and (max-width: 768px) {
    .Navigation {
        font-size: 1.2rem;
    }
}
/* LAPTOPS && TABLET in Landscape */
@media screen and (min-width: 769px ) and (max-width: 1024px) {

}
/* LARGE DESKTOPS */
@media screen and (min-width: 1025px ) and (max-width: 1600px) {
    .Navigation {
        font-size: 1.4rem;
    }

}