.FlyerEdit {

}

.FlyerEdit section {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 20px;
    width: 500px;
}

.FlyerEdit .preview span{
    display: inline-block
}

.FlyerEdit img {
    width: 80px;
}

/* TABLET && LARGE SMARTPHONES */
@media screen and (min-width: 481px ) and (max-width: 768px) {

}
/* LAPTOPS && TABLET in Landscape */
@media screen and (min-width: 769px ) and (max-width: 1024px) {

}
/* LARGE DESKTOPS */
@media screen and (min-width: 1025px ) and (max-width: 1600px) {
    

}