.FlyerView {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #aaa;
    margin: 80px auto;    
    padding: 20px;
    width: 80%;    
}

.FlyerView h2 {
    margin: 30px auto;
}
.pictures {
    width: 80%;
    margin: 30px auto;
}
.pictures img {
    width: 80px;
}

.displayPicture {
    width: 80%;
    margin: auto;
}

.description {
    margin-top: 40px;
    margin-bottom: 40px;
    white-space: pre;
}